<div class="slds-container--fluid">
    <div class="slds-grid slds-wrap slds-gutters" cbsMatchHeight="cbs-special-operation-item">
        <div
            class="slds-col slds-accordion__section slds-size_1-of-1 slds-small-size_1-of-2 slds-medium-size_1-of-3 slds-large-size_1-of-4">
            <a (click)="openLockUnlockPopup()" [ngClass]="{'disabled': !status}"
               class="cbs-special-operation-item slds-text-align--center">
                <cbs-icon [iconConfig]="locked ? unlockIcon : lockIcon"
                          [classStyle]="'slds-m-bottom--small'"></cbs-icon>
                <span class="slds-text-heading--small slds-truncate">{{ locked ? 'UNLOCK' : 'LOCK' | translate }}</span>
            </a>
        </div>
        <div
            class="slds-col slds-accordion__section slds-size_1-of-1 slds-small-size_1-of-2 slds-medium-size_1-of-3 slds-large-size_1-of-4"
            *cbsVisibleByPermission="{ group: 'TERM_DEPOSITS', permissions: ['ACTUALIZE_TERM_DEPOSIT'] }">
            <a (click)="openActualizeModal()" [ngClass]="locked || !status ? 'disabled' : ''"
               class="cbs-special-operation-item slds-text-align--center">
                <cbs-icon [iconConfig]="actualizeIcon" [classStyle]="'slds-m-bottom--small'"></cbs-icon>
                <span class="slds-text-heading--small slds-truncate">{{ 'ACTUALIZE_TERM_DEPOSIT' | translate }}</span>
            </a>
        </div>
        <div
            class="slds-col slds-accordion__section slds-size_1-of-1 slds-small-size_1-of-2 slds-medium-size_1-of-3 slds-large-size_1-of-4">
            <a (click)="closeTermDepositModal()" [ngClass]="locked || !status ? 'disabled' : ''"
               class="cbs-special-operation-item slds-text-align--center">
                <cbs-icon [iconConfig]="closeIcon"
                          [classStyle]="'slds-m-bottom--small slds-box--border'"></cbs-icon>
                <span
                    class="slds-text-heading--small slds-truncate">{{ 'CLOSE' | translate }}</span>
            </a>
        </div>
    </div>
</div>

<ngl-modal [header]="'ACTUALIZE_TERM_DEPOSIT' | translate" [(open)]="isOpenActualize">
    <div body>
        <cbs-form-date-control
            [(ngModel)]="actualizeDate"
            [enableDropdownPicker]="true"
            fieldLabel="{{ 'DATE' | translate }}"
            [validateDate]="true"
            [requiredField]="true">
        </cbs-form-date-control>
    </div>
    <ng-template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="closeModal()">{{ 'CANCEL' | translate }}
        </button>
        <button class="slds-button slds-button--success" (click)="submitActualize()">{{ 'Start' | translate }}
        </button>
    </ng-template>
</ngl-modal>

<ngl-modal [header]="title | translate" [(open)]="closeTermDeposit">
    <div body>
        <cbs-form-date-control
            [(ngModel)]="closeDate"
            [enableDropdownPicker]="true"
            fieldLabel="{{ 'DATE' | translate }}"
            [validateDate]="true"
            [requiredField]="true">
        </cbs-form-date-control>
    </div>
    <ng-template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="closeTermDeposit = false">{{ 'CANCEL' | translate }}
        </button>
        <button class="slds-button slds-button--success" (click)="submitCloseTermDeposit()">{{ 'OK' | translate }}
        </button>
    </ng-template>
</ngl-modal>

<main class="cbs-main cbs-main--pt-sm">
    <cbs-loan-layout [sidePanel]="false">
        <div cbs-loan-layout="right">
            <cbs-confirm-popup
                [confirmText]="locked ? 'Are you sure you want to unlock?' : 'Are you sure you want to lock?'"
                [opened]="lock"
                (openedChange)="closeModal()"
                (onSubmitClick)="submitLockUnlockTermDeposit()"
                [leftButtonLabel]="'CANCEL' | translate"
                [rightButtonLabel]="'CONFIRM' | translate"
                [popupLabel]="'CONFIRMATION' | translate">
            </cbs-confirm-popup>
        </div>
    </cbs-loan-layout>
</main>

<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>
