<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block headingTitle="{{ 'CREATE_SAVING' | translate }}" [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="right">
            <button class="slds-button slds-button--neutral" aria-live="assertive"
                    (click)="goToViewSaving()">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>{{ 'CANCEL' | translate }}</span>
            </button>
            <button class="slds-button slds-button--success" #submitButton aria-live="assertive"
                    (click)="submitForm()" [disabled]="formComponent.form.invalid">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>{{ 'SAVE' | translate }}</span>
            </button>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->


<main class="cbs-main cbs-main--pt-sm">
    <cbs-loan-layout [sidebar]="true" [sidePanel]="false">
        <cbs-icon-nav cbs-loan-layout="sidebar" [navConfig]="savingNavConfig"></cbs-icon-nav>
        <div cbs-loan-layout="right">
            <cbs-saving-new></cbs-saving-new>
        </div>
    </cbs-loan-layout>
</main>
<!-- ./cbs-main -->
<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>
