<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ 'BRANCHES' | translate }}"
                               [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!--/cbs-page-header-layout = left-->

        <div cbs-page-header-layout="right">
            <button routerLink="create" class="slds-button slds-button--neutral" aria-live="assertive">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>{{ 'CREATE' | translate }}
                </span>
            </button>
        </div>
        <!--/cbs-page-header-layout = right-->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<main class="cbs-main cbs-main--pt-sm">

    <table class="slds-table slds-table--bordered slds-table--cell-buffer cbs-profiles">
        <thead>
        <tr class="slds-text-title--caps">
            <th scope="col" width="50">
                <div class="slds-truncate" title="#">#</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Name">{{ 'NAME' | translate }}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let branch of (branches | async)?.data?.content" (click)="goToBranchDetails(branch)">
            <th scope="row" href="javascript:void(0)">
                <div class="slds-truncate" title="Id {{branch['id']}}">{{ branch['id']}}</div>
            </th>
            <th data-label="Range" scope="row">
                <div class="slds-truncate" title="">
                    {{ branch['name'] }}
                </div>
            </th>
        </tr>
        </tbody>
    </table>

    <div class="slds-grid slds-grid--align-center" *ngIf="(branches | async)?.totalElements > (branches | async)?.size">
        <ngl-pagination
            class="cbs-pagination"
            *ngIf="(branches | async)?.loaded"
            [(page)]="queryObject.page"
            [total]="(branches | async)?.totalElements"
            limit="5"
            [perPage]="(branches | async)?.size"
            [previousText]="'PREVIOUS' | translate"
            [nextText]="'NEXT' | translate"
            boundaryNumbers="1"
            (pageChange)="goToPage($event)" #pagination></ngl-pagination>
    </div>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="(branches | async)?.loading"></cbs-loading-indicator>

</main>



