:host {
  .cbs-reschedule-button {
    background: orange;
    color: white;
  }

  .slds-button {
    &[disabled] {
      color: white;
      background-color: #e0e5ee;
      cursor: not-allowed;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.filter-events {
  text-align: left;
  margin-left: 8px;
  margin-top: -5px;
}

.sidebar {
  position: relative;
}
