<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true"
                               headingTitle="{{ 'PASSWORD_SETTINGS' | translate }}"
                               [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>

        <div cbs-page-header-layout="right">
            <a routerLink="edit" class="slds-button slds-button--brand" aria-live="assertive">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg>
                    {{ 'EDIT' | translate }}</span>
            </a>
        </div>
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<main class="cbs-main cbs-main--pt-lg">
    <div
        class="slds slds-align--absolute-center slds-box--small slds-text-heading--small"
        style="margin-bottom: -15px; padding-top: 30px">
        {{ 'PASSWORD_SETTINGS' | translate }}
    </div>
    <div class="cbs-system-setting-wrap">
        <div class="cbs-system-setting__right">
            <div class="slds-grid slds-grid--align-center">
                <div class="slds-container--medium">
                    <div *ngIf="settingsData" class="cbs-pull-negative">
                        <div class="slds-p-top--medium slds-p-bottom--large">
                            <div class="slds-form--horizontal">
                                <cbs-fields-readonly [fieldsData]="settingsData"></cbs-fields-readonly>
                            </div>
                        </div>
                    </div>

                    <p *ngIf="!settingsData"
                       class="slds-text-align--center slds-m-top--large">{{ 'NO_DATA' | translate }}</p>

                </div>
            </div>
        </div>
    </div>
</main>

<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>
