<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block
                headingTitle="{{
                (type === 'MULTIPLE_DEBIT_TEMPLATES'
                    ? 'CREATE_MULTIPLE_DEBIT_TEMPLATE' : 'CREATE_MULTIPLE_CREDIT_TEMPLATE') | translate }}"
                [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="right">
            <button class="slds-button slds-button--neutral" aria-live="assertive"
                    (click)="goToViewTransactionTemplates()">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    {{ 'CANCEL' | translate }}</span>
            </button>
            <button class="slds-button slds-button--success" aria-live="assertive" (click)="submit()"
                    [disabled]="form.invalid">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>
                    {{ 'SAVE' | translate }}</span>
            </button>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<main class="cbs-main cbs-main--pt-sm">
    <cbs-form-layout *ngIf="!isLoading">
        <div class="slds-text-title--caps slds-m-bottom--medium">
            <strong>{{ 'DETAILS' | translate }}</strong>
        </div>
        <div class="slds-form--horizontal">
            <form novalidate [formGroup]="form">

                <cbs-form-input-control
                    [requiredField]="true"
                    [fieldLabel]="'NAME' | translate"
                    [hasError]="form.get('name').errors && form.get('name').touched"
                    [formControlName]="'name'">
                </cbs-form-input-control>

                <div class="slds-text-title--caps slds-m-bottom--medium accounts-label">
                    {{(type === 'MULTIPLE_DEBIT_TEMPLATES' ? 'DEBIT_ACCOUNT' : 'CREDIT_ACCOUNT') | translate }}
                </div>

                <cbs-form-lookup-control
                    [hasError]="form.get('debitAccounts').errors && form.get('debitAccounts').touched"
                    [requiredField]="true"
                    searchPlaceholder="{{ 'SEARCH' | translate }}"
                    selectPlaceholder="{{ 'SELECT' | translate }}"
                    [formControlName]="'debitAccounts'"
                    (onSelect)="(getAccountValue($event, (type === 'MULTIPLE_DEBIT_TEMPLATES' ? 'DEBIT_ACCOUNT' : 'CREDIT_ACCOUNT')))"
                    [picklistDataUrl]="config">
                </cbs-form-lookup-control>

                <div class="slds-text-title--caps slds-m-bottom--medium accounts-label">
                    {{(type === 'MULTIPLE_DEBIT_TEMPLATES' ? 'CREDIT_ACCOUNT' : 'DEBIT_ACCOUNT') | translate }}
                </div>

                <cbs-form-lookup-control
                    [hasError]="form.get('creditAccounts').errors && form.get('creditAccounts').touched"
                    [requiredField]="true"
                    searchPlaceholder="{{ 'SEARCH' | translate }}"
                    selectPlaceholder="{{ 'SELECT' | translate }}"
                    [formControlName]="'creditAccounts'"
                    (onSelect)="getAccountValue($event, (type === 'MULTIPLE_DEBIT_TEMPLATES' ? 'CREDIT_ACCOUNT' : 'DEBIT_ACCOUNT'))"
                    [picklistDataUrl]="config">
                </cbs-form-lookup-control>

                <div *ngIf="accounts && accounts.length">
                    <div *ngFor="let account of accounts let i = index;">
                        <cbs-form-lookup-control
                            searchPlaceholder="{{ 'SEARCH' | translate }}"
                            selectPlaceholder="{{ 'SELECT' | translate }}"
                            (onSelect)="getNewAccounts($event, i, (type === 'MULTIPLE_DEBIT_TEMPLATES' ? 'CREDIT_ACCOUNT' : 'DEBIT_ACCOUNT'))"
                            [picklistDataUrl]="config">

                            <button class="slds-button slds-button--icon-error slds-visual-picker__text-check"
                                    (click)="deleteNewAccounts(account, i, (type === 'MULTIPLE_DEBIT_TEMPLATES' ? 'CREDIT_ACCOUNT' : 'DEBIT_ACCOUNT'))">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                            </button>

                        </cbs-form-lookup-control>
                    </div>
                </div>

            </form>

            <div class="slds-text-title--caps slds-m-bottom--medium">
                <button class="slds-button slds-button--neutral"
                        (click)="addNewAccounts()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>
                    {{ 'ADD' | translate }}
                </button>
            </div>


        </div>
    </cbs-form-layout>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>
</main>
