<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ 'PENALTIES' | translate }}"
                               [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!--/cbs-page-header-layout = left-->

        <div cbs-page-header-layout="right">
            <button class="slds-button slds-button--neutral" aria-live="assertive" (click)="openCreateModal()">
                <span class="slds-text-not-selected">
                <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
                    {{ 'CREATE' | translate }}
                </span>
            </button>
        </div>
        <!--/cbs-page-header-layout = right-->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<main class="cbs-main cbs-main--pt-sm">

    <table class="slds-table slds-table--bordered slds-table--cell-buffer cbs-profiles">
        <thead>
        <tr class="slds-text-title--caps">
            <th scope="col" width="50">
                <div class="slds-truncate" title="#">#</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Name">{{ 'NAME' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Min Value">{{ 'START_DATE' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Max Value">{{ 'END_DATE' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Upper Limit">{{ 'PENALTY_TYPE' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Percentage">{{ 'PENALTY' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Accounts">{{ 'GRACE_PERIOD' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Accounts">{{ 'ACCRUAL_ACCOUNT' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Accounts">{{ 'INCOME_ACCOUNT' | translate }}</div>
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let penalty of (penalties | async)?.penalties; let i = index;">
            <th scope="row">
                <div class="slds-truncate"
                     title="Id {{ (penalties | async)?.size * (penalties | async)?.currentPage + i + 1}}">
                    {{ (penalties | async)?.size * (penalties | async)?.currentPage + i + 1}}
                </div>
            </th>
            <th data-label="Name" scope="row">
                <div class="slds-truncate" title="">
                    <a href="javascript:void(0)">{{ penalty?.name }}</a>
                </div>
            </th>
            <th data-label="Start date" scope="row">
                {{ penalty?.beginPeriodDay }}
            </th>
            <th data-label="End date" scope="row">
                {{ penalty?.endPeriodDay }}
            </th>
            <th data-label="Penalty type" scope="row">
                {{ penalty?.penaltyType | translate }}
            </th>
            <th data-label="Penalty" scope="row">
                {{ penalty?.penalty }}
            </th>
            <th data-label="Grace period" scope="row">
                {{ penalty?.gracePeriod }}
            </th>
            <th data-label="AccrualAccount" scope="row">
                {{penalty['accrualAccount']['number'] + ' | ' + penalty['accrualAccount']['name']}}
            </th>
            <th data-label="IncomeAccount" scope="row">
                {{penalty['incomeAccount']['number'] + ' | ' + penalty['incomeAccount']['name']}}
            </th>
            <th class="slds-text-align--right">
                <button class="slds-button slds-button--neutral" (click)="openEditModal(penalty)">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg>
                    {{ 'EDIT' | translate }}
                </button>
            </th>
        </tr>
        </tbody>
    </table>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="(penalties | async)?.loading"></cbs-loading-indicator>

    <div class="slds-grid slds-grid--align-center"
         *ngIf="(penalties | async)?.totalElements > (penalties | async)?.size">
        <ngl-pagination
            class="cbs-pagination"
            *ngIf="(penalties | async)?.loaded"
            [(page)]="queryObject.page"
            [total]="(penalties | async)?.totalElements"
            limit="5"
            [perPage]="(penalties | async)?.size"
            [previousText]="'PREVIOUS' | translate"
            [nextText]="'NEXT' | translate"
            boundaryNumbers="1"
            (pageChange)="goToPage($event)" #pagination></ngl-pagination>
    </div>

</main>
<!-- ./cbs-main -->

<cbs-penalties-form-modal (submitForm)="submitPenalty($event)"
                          [headerTitle]="isNew ? ('PENALTY_NEW_TITLE' | translate) : ('EDIT' | translate)">
</cbs-penalties-form-modal>




