.entry-fees-block {
  background-color: white;
  color: #16325c;
  border: 1px solid #d8dde6;
  padding: 1rem;
  border-radius: 0.25rem;
}

.details-button {
  line-height: 1.2;

  svg {
    position: relative;
    top: -1px;
  }
}
