:host {
  display: block;
  overflow-y: auto;
  height: 100%;

  .slds-text-title--caps {
    width: 65%;
    margin-left: auto;
    text-align: center;
  }

  .cbs-hint-icon {
    position: absolute;
    right: 8px;
    top: 6px;
  }

  .cbs-entry-fees__total {
    position: absolute;
    top: 6px;
    right: 1rem;
  }

  .member-title {
    margin-top: 1rem;
  }

  .form-control-range {
    color: #bbb;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;

    span {
      color: #54698d;
      font-weight: bold;
      margin-right: .85rem;

      &:last-child {
        margin-right: 0;
      }
    }
    .span-limit {
      color: #bbb;
    }
  }
}
