:host::ng-deep {
  .fc-button-group {
    display: -ms-flexbox;
    display: flex;

    .ui-button {
      border-radius: 0;

      &:first-child {
        border-radius: .25rem 0 0 .25rem;
      }

      &:last-child {
        border-radius: 0 .25rem .25rem 0;
      }
    }
  }

  .ui-button {
    position: relative;
    display: inline-block;
    padding: 0;
    background: 0 0;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: .75rem;
    height: auto;
    line-height: 1.875rem;
    text-decoration: none;
    color: #0070d2;
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 50ms linear, background-color 50ms linear;

    &[disabled] {
      color: #d8dde6;
    }

    .ui-icon {
      position: relative;
      top: -.05em;
      margin: 0 .2em;
      vertical-align: middle;
    }
  }

  .ui-state-default {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff;

    &[disabled] {
      background-color: #fff;
      cursor: default;
    }
  }

  .ui-state-active {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #0070d2;
    border: 1px solid #0070d2;
    color: #fff;
  }

  .ui-icon {
    height: 1em;
    line-height: 1em;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.ui-icon-circle-triangle-w:after {
      content: "\02039";
      font-weight: 700;
      font-size: 200%;
      top: -7%;
    }

    &.ui-icon-circle-triangle-e:after {
      content: "\0203A";
      font-weight: 700;
      font-size: 200%;
      top: -7%;
    }
  }

  .ui-widget-header {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    text-transform: uppercase;
    letter-spacing: .0625rem;
  }

  .fc th,
  .fc td,
  .ui-widget-content {
    border-color: #d8dde6;
  }

  .fc-basic-view {
    th.fc-day-header {
      padding: 6px 2px;
    }

    th.fc-week-number,
    th.fc-day-number {
      padding: 6px 2px;
    }

    .fc-popover {
      background: #ffffff;

      .fc-close {
        margin-top: 3px;
      }
    }
  }

  .fc-center {
    h2 {
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.25;
      font-weight: bold;
    }
  }

  hr.fc-divider {
    padding: 0;
  }

  .ui-icon-closethick {
    &:after {
      content: "\000D7";
      font-size: 200%;
      top: 6%;
    }
  }

  .fc-today {
    background: #feffde;
  }

  .fc-head-container > .fc-row {
    border-right-color: #d8dde6;
  }
}


