:host ::ng-deep {
  .cbs-datepicker {
    position: relative;

    .mat-datepicker-toggle {
      position: absolute;
      top: 0;
      right: 0;
    }

    .mat-icon-button {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }

    .mat-button-focus-overlay,
    .mat-button-ripple {
      display: none;
    }

    &__age {
      position: absolute;
      top: 6px;
      right: 40px;
      color: #969696;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #bbb;
    }
  }

  .slds-has-error {
    margin-bottom: 0 !important;
  }
}
