.payees-block {
  background-color: white;
  color: #16325c;
  border: 1px solid #d8dde6;
  padding: 1rem;
  border-radius: 0.25rem;

  &__expand {
    transition: transform 0.2s ease-in;
    transform: rotate(180deg) translateY(1px);
  }

  &--collapsed {
    .payees-block__expand {
      transform: rotate(0deg) translateY(0);
    }
  }
}

.payee-add-button {
  line-height: 1.2;

  svg {
    position: relative;
    top: -1px;
  }
}

