<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block
                headingTitle="{{ loanAppId ? loanApplication['code'] : ''}}"
                [svgData]="svgData" [badgeLabel]="loanAppStatus | translate" [badgeTheme]="(loanAppStatus | statusBadge)">

                <cbs-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <div cbs-page-header-layout="center">
            <div class="slds-progress">
                <ol class="slds-progress__list">
                    <li *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.IN_PROGRESS] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.PENDING] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.APPROVED] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.DISBURSED]"
                        class="slds-progress__item slds-is-completed">
                        <button class="slds-button slds-progress__marker slds-button_icon slds-progress__marker_icon"
                                style="cursor: default"
                                [title]="'CREATED' | translate">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                            </svg>
                            <span class="slds-assistive-text">{{'CREATED' | translate}}</span>
                        </button>
                    </li>
                    <li *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.IN_PROGRESS] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.PENDING] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.APPROVED] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.DISBURSED]"
                        class="slds-progress__item slds-is-completed">
                        <button class="slds-button slds-progress__marker slds-button_icon slds-progress__marker_icon"
                                style="cursor: default"
                                [title]="'SAVED' | translate">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                            </svg>
                            <span class="slds-assistive-text">{{'SAVED' | translate}}</span>
                        </button>
                    </li>
                    <li *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.IN_PROGRESS]"
                        class="slds-progress__item">
                        <button class="slds-button slds-progress__marker" style="cursor: default">
                            <span class="slds-assistive-text">Step 3</span>
                        </button>
                    </li>
                    <li *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.PENDING] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.APPROVED] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.DISBURSED]"
                        class="slds-progress__item slds-is-completed">
                        <button class="slds-button slds-progress__marker slds-button_icon slds-progress__marker_icon"
                                style="cursor: default"
                                [title]="'SUBMITTED' | translate">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                            </svg>
                            <span class="slds-assistive-text">{{'SUBMITTED' | translate}}</span>
                        </button>
                    </li>
                    <li *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.IN_PROGRESS] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.PENDING]"
                        class="slds-progress__item">
                        <button class="slds-button slds-progress__marker" style="cursor: default">
                            <span class="slds-assistive-text">Step 4 </span>
                        </button>
                    </li>
                    <li *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.APPROVED] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.DISBURSED]"
                        class="slds-progress__item slds-is-completed">
                        <button class="slds-button slds-progress__marker slds-button_icon slds-progress__marker_icon"
                                style="cursor: default"
                                [title]="'APPROVED' | translate">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                            </svg>
                            <span class="slds-assistive-text">{{'APPROVED' | translate}}</span>
                        </button>
                    </li>
                    <li *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.IN_PROGRESS] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.PENDING] ||
                    loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.APPROVED]">
                        <button class="slds-button slds-progress__marker" style="cursor: default">
                            <span class="slds-assistive-text">Step 5 </span>
                        </button>
                    </li>
                    <li *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.DISBURSED]"
                        class="slds-progress__item slds-is-completed">
                        <button class="slds-button slds-progress__marker slds-button_icon slds-progress__marker_icon"
                                style="cursor: default"
                                [title]="'DISBURSED' | translate">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                            </svg>
                            <span class="slds-assistive-text">{{'DISBURSED' | translate}}</span>
                        </button>
                    </li>
                </ol>
                <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0" aria-valuemax="100"
                     aria-valuenow="50" role="progressbar">
                    <span class="slds-progress-bar__value" [ngStyle]="{'width': progressValue}">
                      <span class="slds-assistive-text"></span>
                    </span>
                </div>
            </div>
        </div>
        <div cbs-page-header-layout="right">
            <ng-container
                *cbsVisibleByPermission="{ group: 'MAKER_CHECKER', permissions: ['MAKER_FOR_LOAN_DISBURSEMENT'] }">
                <cbs-loan-app-confirm-button
                    [disabled]="readOnly"
                    *ngIf="loanApplication?.status === loanAppStatusEnum[loanAppStatusEnum.APPROVED]"
                    (onClickButton)="openModal($event)">
                </cbs-loan-app-confirm-button>
            </ng-container>
        </div>
        <!-- /cbs-page-header-layout = left -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<cbs-confirm-popup [confirmText]="text" [opened]="opened"
                   (openedChange)="closeModal()"
                   (onSubmitClick)="submitService.submitLoanApp(loanApplication?.id, loanAppStatus)"
                   [leftButtonLabel]="'CANCEL' | translate"
                   [rightButtonLabel]="'CONFIRM' | translate"
                   [popupLabel]="'CONFIRMATION' | translate">
</cbs-confirm-popup>
<div class="cbs-cc-page" *ngIf="(activityList| async)?.loaded && !loanAppState?.loading">
    <div class="slds-grid slds-grid--align-center">
        <table class="slds-table slds-table--bordered slds-table--cell-buffer cbs-cc-table">
            <thead>
            <tr class="slds-text-title--caps">
                <th scope="col" width="15%">
                    <div class="slds-truncate" title="Name">{{ 'ROLE' | translate }}</div>
                </th>
                <th scope="col" width="20%">
                    <div class="slds-truncate" title="Role">{{ 'CHANGED_BY' | translate }}</div>
                </th>
                <th scope="col" width="20%">
                    <div class="slds-truncate" title="Role">{{ 'CHANGED_AT' | translate }}</div>
                </th>
                <th scope="col" width="20%">
                    <div class="slds-truncate" title="Role">{{ 'NOTE' | translate }}</div>
                </th>

                <th *cbsVisibleByPermission="{ group: 'LOAN_APPLICATIONS', permissions: ['CHANGE_STATUS_OF_LOANS_APPLICATIONS'] }"
                    scope="col" width="25%" class="cbs-cc-options">
                    <div class="slds-truncate" title="Options">{{ 'OPTIONS' | translate }}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ccMember of creditCommittee; let i = index;">
                <td data-label="Name" scope="row">
                    <div class="slds-truncate" title="Name">{{ ccMember?.role?.name | uppercase}}</div>
                </td>
                <td data-label="Changed by" scope="row">
                    <div title="Changed by" *ngIf="ccMember.changedBy">{{ ccMember?.changedBy?.firstName }}
                        {{ccMember?.changedBy?.lastName}}
                    </div>
                    <div title="Changed by" *ngIf="!ccMember.changedBy">-</div>
                </td>
                <td data-label="Changed at" scope="row">
                    <div title="Changed at" *ngIf="ccMember.createdAt">
                        {{ ccMember?.createdAt | cbsDateFormat}} {{ ccMember?.createdAt | cbsTimeFormat}}
                    </div>
                    <div title="Changed at" *ngIf="!ccMember.createdAt">-</div>
                </td>
                <td>
                    <div title="Notes" *ngIf="!ccMember.notes">-</div>
                    <div title="Notes" class="cbs-cc-member-note">
                        <a class="cbs-cc-notes-link" *ngIf="ccMember?.notes" [nglPopover]="ccMember?.notes"
                           nglInteractive="true"
                           nglPopoverDelay="500" nglPopoverBehavior nglTooltip>
                            {{ccMember?.notes}}
                        </a>
                    </div>
                </td>
                <td data-label="Options" scope="row">
                    <ng-container
                        *cbsVisibleByPermission="{ group: 'LOAN_APPLICATIONS', permissions: ['CHANGE_STATUS_OF_LOANS_APPLICATIONS'] }">
                        <cbs-cc-status-form *ngIf="isCurrentUserAbleToChangeStatus(ccMember); else badge" [index]="i"
                                            (onMakeDecision)="changeStatus($event)" [ccMember]="ccMember"
                                            [currentUser]="currentUser"
                                            [loanAppStatus]="loanAppStatus"></cbs-cc-status-form>
                        <ng-template #badge>
                            <ngl-badge [type]="(ccMember?.status | statusBadge)">{{ccMember?.status | translate |
                                uppercase}}
                            </ngl-badge>
                        </ng-template>
                    </ng-container>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="cbs-cc-activity-list" *ngIf="(activityList | async)?.data?.length">
        <span><strong>{{'ACTIVITY_LOG' | translate | uppercase }}</strong></span>
        <ul>
            <li *ngFor="let log of (activityList | async)?.data; let i = index; trackBy: log?.id">
                <cbs-activity-log [logData]="log"></cbs-activity-log>
            </li>
        </ul>
    </div>

</div>


<ngl-modal class="cbs-comment-modal" [header]="'CONFIRM' | translate"
           [directional]="directional" [(open)]="isOpened">
    <div body>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                    <textarea class="slds-textarea" #notes maxlength="255"
                              [placeholder]="'ADD_NOTE' | translate"
                    ></textarea>
            </div>
        </div>
    </div>
    <ng-template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="cancel()">{{'CANCEL' | translate}}</button>
        <button class="slds-button slds-button--success" (click)="saveDecision(notes.value); isLoading = true;">
            {{'CONFIRM' | translate}}
        </button>
    </ng-template>
</ngl-modal>

<cbs-loading-indicator [isFixed]="true"
                       [showLoader]="!(activityList | async)?.loaded || loanAppState?.loading || isLoading">
</cbs-loading-indicator>
