<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ reportName | translate }}" [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!--/cbs-page-header-layout = right-->
        <div cbs-page-header-layout="right">
            <div class="slds-grid slds-grid_align-end slds-grid_vertical-align-start">
                <ng-container>
                    <button class="slds-button slds-form_inline" aria-live="assertive">
                        <cbs-form-select-control
                            [selectData]="formatTypes"
                            (onSelect)="selectFormat($event)"
                            selectPlaceholder="{{ 'EXPORT' | translate }}"
                        ></cbs-form-select-control>
                    </button>

                    <a [routerLink]="cancelLink"
                       class="slds-button slds-button--brand" aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>{{ 'CLOSE' | translate }}
                        </span>
                    </a>

                </ng-container>
            </div>
        </div>

        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->


<main class="cbs-main cbs-main--pt-sm">
    <div id ="content"></div>
</main>

<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>
