<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ 'BORROWING_PRODUCTS' | translate }}"
                               [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="right">
            <a routerLink="/configuration/borrowing-products/create" class="slds-button slds-button--neutral"
               aria-live="assertive">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>
                    {{ 'CREATE' | translate }}
                </span>
            </a>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->
<main class="cbs-main cbs-main--pt-sm">
    <table class="slds-table slds-table--bordered slds-table--cell-buffer">
        <thead>
        <tr class="slds-text-title--caps">
            <th scope="col" width="50">
                <div class="slds-truncate" title="Loan Product Id">#</div>
            </th>
            <th scope="col" width="30%">
                <div class="slds-truncate" title="Loan Product Name">{{ 'NAME' | translate }}</div>
            </th>
            <th scope="col" width="30%">
                <div class="slds-truncate" title="Schedule type">{{ 'SCHEDULE_TYPE' | translate }}</div>
            </th>
            <th scope="col" width="20%">
                <div class="slds-truncate" title="Interest rate">{{ 'INTEREST_RATE' | translate }}</div>
            </th>
            <th scope="col" width="20%">
                <div class="slds-truncate" title="Schedule type">{{ 'AMOUNT' | translate }}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let borrowing_product of (borrowingProducts | async)?.data['content']; let i = index;"
            (click)="goToBorrowingProduct(borrowing_product)">
            <td data-label="Label" scope="row" class="slds-truncate">
                <div class="slds-truncate" title="Id {{ i + 1}}">{{ i + 1}}</div>
            </td>
            <td data-label="Loan Product Name" scope="row" class="slds-truncate">
                {{borrowing_product.name | uppercase}}
            </td>
            <td data-label="Schedule type" scope="row" class="slds-truncate">
                {{borrowing_product.scheduleType | translate}}
            </td>
            <td data-label="Interest rate" scope="row" class="slds-truncate">
                <div>{{ borrowing_product.interestRateMin + '% - ' + borrowing_product.interestRateMax + '%' }}</div>
            </td>
            <td data-label="Interest rate" scope="row" class="slds-truncate">
                <div>{{ (borrowing_product.amountMin | cbsNumberFormat) + ' - ' + (borrowing_product.amountMax | cbsNumberFormat) }}</div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="slds-grid slds-grid--align-center"
         *ngIf="(borrowingProducts | async)?.totalElements > (borrowingProducts | async)?.size">
        <ngl-pagination
            class="cbs-pagination"
            *ngIf="(borrowingProducts | async)?.loaded"
            [(page)]="queryObject.page"
            [total]="(borrowingProducts | async)?.totalElements"
            limit="5"
            [perPage]="(borrowingProducts | async)?.size"
            [previousText]="'PREVIOUS' | translate"
            [nextText]="'NEXT' | translate"
            boundaryNumbers="1"
            (pageChange)="goToPage($event)" #pagination></ngl-pagination>
    </div>

</main>

<cbs-loading-indicator [isFixed]="true" [showLoader]="(borrowingProducts | async)?.loading"></cbs-loading-indicator>

