<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block
                headingTitle="{{ (loan | async)?.loan['code'] ?  (loan | async)?.loan['code'] : '' }}"
                [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>

        <div cbs-page-header-layout="right">
            <cbs-loan-info-entity></cbs-loan-info-entity>
            <button class="slds-button slds-button--neutral" (click)="cancel()">{{'CANCEL' | translate}}</button>
            <button class="slds-button slds-button--success"
                    #submitButton
                    (click)="repayModal(formComponent?.repaymentForm?.getRawValue())"
                    [disabled]="disabledRepay || (formComponent?.repaymentForm?.controls?.total?.value <= 0)">{{ 'REPAY' | translate }}
            </button>
        </div>
    </cbs-page-header>
</cbs-header>


<cbs-loan-layout [sidebar]="false" [sidePanel]="true" [bottomToolbar]="true">
    <div cbs-loan-layout="left">
        <cbs-repayment-form
            (onChangeRepaymentType)="onChangeRepaymentType()"
            (onSetMaxAmount)="setMaxAmount()"
            [maxAmount]="maxAmount"
            (onRepaymentDateEdited)="markDateAsEdited()"
            (onTotalEdited)="markTotalAsEdited()"></cbs-repayment-form>
    </div>
    <div cbs-loan-layout="bottom-toolbar">
        <div class="slds-grid">
            <div class="slds-col">
                <button class="slds-button slds-button--brand cbs-repayment-preview"
                        #previewButton
                        (click)="previewSchedule(formComponent?.repaymentForm?.getRawValue())"
                        [disabled]="formComponent?.repaymentForm?.value?.total <= 0">{{ 'PREVIEW' | translate }}
                </button>
            </div>
            <div class="slds-col slds-m-left--small" *ngIf="isPreviewing">
                <button class="slds-button slds-button--neutral cbs-repayment-reset"
                        (click)="resetPreview(); ">{{ 'RESET' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div cbs-loan-layout="right">
        <cbs-loan-installments-table [data]="installments"></cbs-loan-installments-table>
    </div>
</cbs-loan-layout>

<main class="cbs-main cbs-main--pt-sm">
    <cbs-loan-layout [sidePanel]="false">
        <div cbs-loan-layout="right">
            <cbs-confirm-popup
                [confirmText]="'ARE_YOU_SURE_WANT_TO_REPAY' | translate"
                [opened]="opened"
                (openedChange)="closeModal()"
                (onSubmitClick)="repay()"
                [leftButtonLabel]="'CANCEL' | translate"
                [rightButtonLabel]="'CONFIRM' | translate"
                [popupLabel]="'CONFIRMATION' | translate">
            </cbs-confirm-popup>
        </div>
    </cbs-loan-layout>
</main>

<ngl-modal [header]="'ACTUALIZE_LOAN' | translate" [(open)]="isOpenActualize">
    <div body>
        <p class="slds-accordion__section slds-align--absolute-center slds-text-color--error slds-text-heading--small">
            The contract (code = {{loanCode}}) is not actualized.</p>
        <p class="slds-accordion__section slds-align--absolute-center slds-text-color--weak slds-text-heading--small">
            Do you want to actualize it to {{ repayData?.date }}?</p>
    </div>
    <ng-template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="isOpenActualize = false">{{ 'NO' | translate }}
        </button>
        <button class="slds-button slds-button--success" (click)="submitActualizeLoan()">{{ 'YES' | translate }}
        </button>
    </ng-template>
</ngl-modal>

<cbs-confirm-popup [opened]="isOpen"
                   (onSubmitClick)="goToNextRoute()"
                   (openedChange)="closeConfirmPopup()"
                   [leftButtonLabel]="'NO' | translate"
                   [rightButtonLabel]="'YES' | translate"
                   [popupLabel]="'WARNING' | translate"
                   [confirmText]="'NO_PAYMENT_DONE' | translate"
></cbs-confirm-popup>

<cbs-loading-indicator [isFixed]="true"
                       [showLoader]="installmentsTableComponent.isLoading"></cbs-loading-indicator>
