:host {
  .cbs-repayment-preview,
  .cbs-repayment-reset {
    margin-top: 8px;
    width: 100%;
    text-transform: uppercase;
  }
}
::ng-deep .cbs-loan-layout__r > [cbs-loan-layout] {
  overflow: hidden !important;
}
