<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block headingTitle="{{ 'SAVING_PRODUCT_DETAILS' | translate }}" [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="right">
            <div *ngIf="savingProductType === 'live'">
                <button
                    *cbsVisibleByPermission="{ group: 'MAKER_CHECKER', permissions: ['MAKER_FOR_SAVING_PRODUCT'] }"
                    [routerLink]="'/configuration/saving-products/' + savingProductId + '/edit'"
                    [disabled]="readOnly"
                    class="slds-button slds-button--brand" aria-live="assertive">
                        <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg>{{ 'EDIT' | translate }}</span>
                </button>

            </div>


            <div class="slds-grid slds-grid_align-end slds-grid_vertical-align-start">
                <ng-container *ngIf="savingProductType === 'maker-checker'">
                    <button
                        *cbsVisibleByPermission="{
                            group: 'MAKER_CHECKER', permissions: ['CHECKER_FOR_SAVING_PRODUCT'] }"
                            (click)="openApproveModal()"
                            class="slds-button slds-button--success" aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>
                            {{ 'APPROVE' | translate }}
                        </span>
                    </button>

                    <button
                        *cbsVisibleByPermission="{
                            group: 'MAKER_CHECKER', permissions: ['MAKER_FOR_SAVING_PRODUCT','CHECKER_FOR_SAVING_PRODUCT'] }"
                            (click)="openDeleteModal()" class="slds-button slds-button--brand" aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                            </svg>
                            {{ 'REJECT' | translate }}
                        </span>
                    </button>

                </ng-container>
            </div>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>

<main class="cbs-main cbs-main--pt-sm">
    <cbs-loan-layout [sidebar]="savingProductType === 'live'" [sidePanel]="false">
        <cbs-icon-nav cbs-loan-layout="sidebar" [navConfig]="savingProductNavConfig"></cbs-icon-nav>
        <div cbs-loan-layout="right">
            <cbs-confirm-popup
                [confirmText]="'Are you sure you want to approve?'"
                [opened]="approveRequest"
                (openedChange)="closeModal()"
                (onSubmitClick)="approveSavingProductRequest()"
                [leftButtonLabel]="'CANCEL' | translate"
                [rightButtonLabel]="'CONFIRM' | translate"
                [popupLabel]="'CONFIRMATION' | translate">
            </cbs-confirm-popup>

            <cbs-confirm-popup
                [confirmText]="'Are you sure you want to reject?'"
                [opened]="deleteRequest"
                (openedChange)="closeModal()"
                (onSubmitClick)="deleteSavingProductRequest()"
                [leftButtonLabel]="'CANCEL' | translate"
                [rightButtonLabel]="'CONFIRM' | translate"
                [popupLabel]="'CONFIRMATION' | translate">
            </cbs-confirm-popup>

            <router-outlet></router-outlet>
        </div>
    </cbs-loan-layout>
</main>
