<cbs-header *ngIf="showHeader">
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block headingTitle="{{ loan?.id ? this.loan['code'] : '' }}"
                               [svgData]="svgData"
                               [badgeLabel]="loanStatus | translate"
                               [badgeTheme]="(loanStatus | statusBadge)">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="right">

            <div class="slds-grid slds-grid_align-end slds-grid_vertical-align-start">
                <ng-container>
                    <button
                        *cbsVisibleByPermission="{
                            group: 'MAKER_CHECKER',
                            permissions: queryType === 'maker-checker-repayment'
                                ? ['CHECKER_FOR_LOAN_REPAYMENT']
                                : queryType === 'maker-checker-rollback'
                                    ? ['CHECKER_FOR_LOAN_ROLLBACK']
                                    : ['CHECKER_FOR_LOAN_DISBURSEMENT'] }"
                        (click)="openApproveModal()"
                        class="slds-button slds-button--success" aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>
                            {{ 'APPROVE' | translate }}
                        </span>
                    </button>

                    <button
                        *cbsVisibleByPermission="{
                            group: 'MAKER_CHECKER',
                            permissions: queryType === 'maker-checker-repayment'
                                ? ['MAKER_FOR_LOAN_REPAYMENT','CHECKER_FOR_LOAN_REPAYMENT']
                                : queryType === 'maker-checker-rollback'
                                    ? ['MAKER_FOR_LOAN_ROLLBACK','CHECKER_FOR_LOAN_ROLLBACK']
                                    :['MAKER_FOR_LOAN_DISBURSEMENT','CHECKER_FOR_LOAN_DISBURSEMENT'] }"
                        (click)="openDeleteModal()" class="slds-button slds-button--brand" aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                            </svg>
                            {{ 'REJECT' | translate }}
                        </span>
                    </button>
                </ng-container>

                <div class="filter-events" *ngIf="showSystemAndDeletedEvents">
                    <span class="slds-checkbox">
                        <input type="checkbox" id="checkbox-deleted" (click)="showDeletedEvents()"/>
                        <label class="slds-checkbox__label" for="checkbox-deleted">
                            <span class="slds-checkbox--faux"></span>
                            <span class="slds-form-element__label">Show deleted</span>
                        </label>
                    </span>
                    <br>
                    <span class="slds-checkbox">
                        <input type="checkbox" id="checkbox-system" (click)="showSystemEvents()"/>
                        <label class="slds-checkbox__label" for="checkbox-system">
                            <span class="slds-checkbox--faux"></span>
                            <span class="slds-form-element__label">Show system</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->


<main class="cbs-main cbs-main--pt-sm sidebar">
    <cbs-loan-layout [sidebar]="false" [sidePanel]="false">
        <div cbs-loan-layout="right">

            <cbs-confirm-popup
                [confirmText]="'Are you sure you want to approve?'"
                [opened]="approveRequest"
                (openedChange)="closeModal()"
                (onSubmitClick)="approveLoanProductRequest()"
                [leftButtonLabel]="'CANCEL' | translate"
                [rightButtonLabel]="'CONFIRM' | translate"
                [popupLabel]="'CONFIRMATION' | translate">
            </cbs-confirm-popup>

            <cbs-confirm-popup
                [confirmText]="'Are you sure you want to reject?'"
                [opened]="deleteRequest"
                (openedChange)="closeModal()"
                (onSubmitClick)="deleteLoanProductRequest()"
                [leftButtonLabel]="'CANCEL' | translate"
                [rightButtonLabel]="'CONFIRM' | translate"
                [popupLabel]="'CONFIRMATION' | translate">
            </cbs-confirm-popup>

            <router-outlet></router-outlet>
        </div>
    </cbs-loan-layout>
</main>
<!-- ./cbs-main -->

<!--<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>-->
