<form novalidate [formGroup]="form" [hidden]="isHidden"
      class="slds-form--horizontal slds-m-top--medium" cbsFormFocus>
    <cbs-form-select-control
        [formControlName]="'statusType'"
        [selectData]="statusTypeData"
        [requiredField]="true"
        [hasError]="form.get('statusType').errors && form.get('statusType').touched"
        fieldLabel="{{ 'ACTIVE_PRODUCT' | translate }}"
    ></cbs-form-select-control>

    <div class="slds-form-element" [class.slds-has-error]="
            (form.get('name').errors && form.get('name').touched)
            || (form.get('name').invalid && form.get('name').touched)">
        <label class="slds-form-element__label">
            <abbr class="slds-required" title="required">*</abbr>
            {{ 'NAME' | translate }}
        </label>
        <div class="slds-form-element__control">
            <input type="text" id="loan-product-name" class="slds-input" formControlName="name"/>
        </div>
    </div>

    <cbs-form-input-control
        [requiredField]="true"
        [fieldLabel]="'CODE' | translate"
        [hasError]="form.get('code').errors && form.get('code').touched"
        [formControlName]="'code'">
    </cbs-form-input-control>

    <div class="slds-form-element cbs-compound-form__row" formArrayName="availability">
        <label class="slds-form-element__label cbs-compound-form__checkbox-label">
            <abbr class="slds-required" title="required">*</abbr>
            {{ 'AVAILABILITY' | translate }}
        </label>
        <div class="cbs-compound-form__r">
            <div class="cbs-compound-form__1-of-3" formGroupName="0">
                <label class="slds-checkbox" for="person-profile">
                    <input type="checkbox" name="availability" id="person-profile"
                           formControlName="person_profile"/>
                    <span class="slds-checkbox--faux"></span>
                    <span class="slds-form-element__label">{{ 'PROFILE_PERSON' | translate }}</span>
                </label>
            </div>
            <div class="cbs-compound-form__1-of-3" formGroupName="1">
                <label class="slds-checkbox" for="company-profile">
                    <input type="checkbox" name="availability" id="company-profile"
                           formControlName="company_profile"/>
                    <span class="slds-checkbox--faux"></span>
                    <span
                        class="slds-form-element__label">
                        {{ (currentInstance === 'rwanda' ? 'COMPANY_GROUP' : 'PROFILE_COMPANY') | translate }}
                    </span>
                </label>
            </div>
            <div class="cbs-compound-form__1-of-3" formGroupName="2" *ngIf="currentInstance != 'rwanda'">
                <label class="slds-checkbox" for="group-profile">
                    <input type="checkbox" name="availability" id="group-profile"
                           formControlName="group_profile"/>
                    <span class="slds-checkbox--faux"></span>
                    <span
                        class="slds-form-element__label">{{ 'PROFILE_GROUP' | translate }}</span>
                </label>
            </div>
        </div>
    </div>

    <cbs-form-lookup-control
        [requiredField]="false"
        [hasError]="form.get('scheduleType').errors && form.get('scheduleType').touched"
        [formControlName]="'scheduleType'"
        searchPlaceholder="{{ 'SEARCH' | translate }}"
        selectPlaceholder="{{ 'SELECT' | translate }}"
        [fieldLabel]="'SCHEDULE_TYPE' | translate"
        [picklistDataUrl]="scheduleTypeConfig">
    </cbs-form-lookup-control>

    <cbs-form-lookup-control
        [requiredField]="true"
        (onSelect)="getScheduleBasedType($event)"
        [hasError]="form.get('scheduleBasedType').errors && form.get('scheduleBasedType').touched"
        [formControlName]="'scheduleBasedType'"
        searchPlaceholder="{{ 'SEARCH' | translate }}"
        selectPlaceholder="{{ 'SELECT' | translate }}"
        [fieldLabel]="'SCHEDULE_BASED_TYPE' | translate"
        [picklistDataUrl]="scheduleBasedTypeConfig">
    </cbs-form-lookup-control>

    <cbs-form-lookup-control
        [requiredField]="false"
        [hasError]="form.get('currencyId').errors && form.get('currencyId').touched"
        [formControlName]="'currencyId'"
        searchPlaceholder="{{ 'SEARCH' | translate }}"
        selectPlaceholder="{{ 'SELECT' | translate }}"
        [fieldLabel]="'CURRENCY' | translate"
        [picklistDataUrl]="currencyConfig">
    </cbs-form-lookup-control>

    <div class="slds-form-element cbs-compound-form__row">
        <label class="slds-form-element__label">
            <abbr class="slds-required" title="required">*</abbr>
            {{ 'INTEREST_RATE' | translate }}
        </label>
        <div class="cbs-compound-form__r">
            <div class="cbs-compound-form__1-of-2" [class.slds-has-error]="
            (form.get('interestRateMin').errors && form.get('interestRateMin').touched)
            || (form.get('interestRateMin').invalid && form.get('interestRateMin').touched)">
                <label class="cbs-compound-form__label" for="interest-rate-minimum">
                    <abbr class="slds-required" title="required">*</abbr>
                    {{ 'MINVALUE' | translate }}
                </label>
                <div class="slds-form-element__control">
                    <input type="number"
                           id="interest-rate-minimum"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="interestRateMin"/>
                    <span class="cbs-hint-icon">%</span>
                </div>
            </div>
            <div class="cbs-compound-form__1-of-2" [class.slds-has-error]="
            (form.get('interestRateMax').errors && form.get('interestRateMax').touched)
            || (form.get('interestRateMax').invalid && form.get('interestRateMax').touched)">
                <label class="cbs-compound-form__label" for="interest-rate-maximum">
                    <abbr class="slds-required" title="required">*</abbr>
                    {{ 'MAXVALUE' | translate }}
                </label>
                <div class="slds-form-element__control">
                    <input type="number"
                           id="interest-rate-maximum"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="interestRateMax"/>
                    <span class="cbs-hint-icon">%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="slds-form-element cbs-compound-form__row">
        <label class="slds-form-element__label">
            <abbr class="slds-required" title="required">*</abbr>
            {{ 'AMOUNT' | translate }}
        </label>
        <div class="cbs-compound-form__r">
            <div class="cbs-compound-form__1-of-2" [class.slds-has-error]="
            (form.get('amountMin').errors && form.get('amountMin').touched)
            || (form.get('amountMin').invalid && form.get('amountMin').touched)">
                <label class="cbs-compound-form__label" for="amount-min">
                    <abbr class="slds-required" title="required">*</abbr>
                    {{ 'MINVALUE' | translate }}
                </label>
                <div class="slds-form-element__control">
                    <input type="number"
                           id="amount-min"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="amountMin"/>
                </div>
            </div>
            <div class="cbs-compound-form__1-of-2" [class.slds-has-error]="
            (form.get('amountMax').errors && form.get('amountMax').touched)
            || (form.get('amountMax').invalid && form.get('amountMax').touched)">
                <label class="cbs-compound-form__label" for="amount-max">
                    <abbr class="slds-required" title="required">*</abbr>
                    {{ 'MAXVALUE' | translate }}
                </label>
                <div class="slds-form-element__control">
                    <input type="number"
                           id="amount-max"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="amountMax"/>
                </div>
            </div>
        </div>
    </div>

    <cbs-form-date-control
        *ngIf="!byInstallment"
        formControlName="maturityDateMax"
        fieldLabel="{{ 'MAX_MATURITY_DATE' | translate }}"
        [requiredField]="!byInstallment"
        [errorMessage]="'MAX_MATURITY_DATE_ERROR'"
    ></cbs-form-date-control>

    <div class="slds-form-element cbs-compound-form__row"
         *ngIf="byInstallment">
        <label class="slds-form-element__label">
            <abbr class="slds-required" title="required">*</abbr>
            {{ 'NUMBER_OF_INSTALMENTS' | translate }}
        </label>
        <div class="cbs-compound-form__r">
            <div class="cbs-compound-form__1-of-2" [class.slds-has-error]="
            (form.get('maturityMin').errors && form.get('maturityMin').touched)
            || (form.get('maturityMin').invalid && form.get('maturityMin').touched)">
                <label class="cbs-compound-form__label" for="maturity-min">
                    <abbr class="slds-required" title="required">*</abbr>
                    {{ 'MINVALUE' | translate }}
                </label>
                <div class="slds-form-element__control">
                    <input type="number"
                           id="maturity-min"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="maturityMin"/>
                </div>
            </div>
            <div class="cbs-compound-form__1-of-2" [class.slds-has-error]="
            (form.get('maturityMax').errors && form.get('maturityMax').touched)
            || (form.get('maturityMax').invalid && form.get('maturityMax').touched)">
                <label class="cbs-compound-form__label" for="maturity-max">
                    <abbr class="slds-required" title="required">*</abbr>
                    {{ 'MAXVALUE' | translate }}
                </label>
                <div class="slds-form-element__control">
                    <input type="number"
                           id="maturity-max"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="maturityMax"/>
                </div>
            </div>
        </div>
    </div>


    <div class="slds-form-element cbs-compound-form__row">
        <label class="slds-form-element__label">
            <abbr class="slds-required" title="required">*</abbr>
            {{ 'GRACE_PERIOD' | translate }}
        </label>
        <div class="cbs-compound-form__r">
            <div class="cbs-compound-form__1-of-2" [class.slds-has-error]="
            (form.get('gracePeriodMin').errors && form.get('gracePeriodMin').touched)
            || (form.get('gracePeriodMin').invalid && form.get('gracePeriodMin').touched)">
                <label class="cbs-compound-form__label" for="grace-period-min">
                    <abbr class="slds-required" title="required">*</abbr>
                    {{ 'MINVALUE' | translate }}
                </label>
                <div class="slds-form-element__control">
                    <input type="number"
                           id="grace-period-min"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="gracePeriodMin"/>
                </div>
            </div>
            <div class="cbs-compound-form__1-of-2" [class.slds-has-error]="
            (form.get('gracePeriodMax').errors && form.get('gracePeriodMax').touched)
            || (form.get('gracePeriodMax').invalid && form.get('gracePeriodMax').touched)">
                <label class="cbs-compound-form__label" for="grace-period-max">
                    <abbr class="slds-required" title="required">*</abbr>
                    {{ 'MAXVALUE' | translate }}
                </label>
                <div class="slds-form-element__control">
                    <input type="number"
                           id="grace-period-max"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="gracePeriodMax"/>
                </div>
            </div>
        </div>
    </div>

    <div class="slds-form-element">
        <label class="slds-form-element__label cbs-compound-form__checkbox-label">
            {{ 'LOAN_PRODUCT_HAS_PAYEES' | translate }}

        </label>
        <div class="slds-form-element__control">
            <label class="slds-checkbox" for="has-payees">
                <input type="checkbox" name="hasPayees" id="has-payees"
                       formControlName="hasPayees"/>
                <span class="slds-checkbox--faux"></span>
            </label>
        </div>
    </div>

    <div class="slds-form-element">
        <cbs-penalties-selected [selectedPenalties]="selectedPenalties"
                                [label]="'PENALTIES_NO_SELECTED'"
                                (onPenaltyDelete)="deletePenalty($event)"></cbs-penalties-selected>

        <cbs-penalty-picklist [selectDataLabel]="'SELECT_PENALTY'" [penalties]="allPenalties"
                              (onPenaltySelect)="selectPenalty($event)"></cbs-penalty-picklist>
    </div>

    <div class="slds-form-element">
        <cbs-entry-fees-selected [selectedEntryFees]="selectedFees"
                                 [label]="'ENTRY_FEE_NO_SELECTED'"
                                 (onFeeDelete)="deleteEntryFee($event)"></cbs-entry-fees-selected>

        <cbs-entry-fee-picklist [selectDataLabel]="'SELECT_ENTRY_FEE'" [entryFees]="allEntryFees"
                                (onFeeSelect)="selectFee($event)"></cbs-entry-fee-picklist>
    </div>
    <div class="early-partial-repayment-fee">
        <div class="slds-text-title--caps account-title">
            <strong>{{ 'EARLY_PARTIAL_REPAYMENT_FEES' | translate }}</strong>
        </div>

        <div class="slds-form-element cbs-compound-form__row" [class.slds-has-error]="
            (form.get('earlyPartialRepaymentFeeValue').errors && form.get('earlyPartialRepaymentFeeValue').touched)
            || (form.get('earlyPartialRepaymentFeeValue').invalid && form.get('earlyPartialRepaymentFeeValue').touched)">
            <label class="slds-form-element__label slds-cell-fixed">
                <abbr class="slds-required" title="required">*</abbr>
                {{ 'VALUE' | translate }}
            </label>
            <div class="cbs-compound-form__r">
                <div class="slds-form-element__control">
                    <input type="number"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="earlyPartialRepaymentFeeValue"/>
                    <span class="cbs-hint-icon">%</span>
                </div>
            </div>
        </div>

        <cbs-form-select-control
            [formControlName]="'earlyPartialRepaymentFeeType'"
            [requiredField]="true"
            [selectData]="earlyPartialRepaymentFeeType"
            [hasError]="form.get('earlyPartialRepaymentFeeType').errors && form.get('earlyPartialRepaymentFeeType').touched"
            fieldLabel="{{ 'TYPE' | translate }}"
        ></cbs-form-select-control>
    </div>

    <div class="early-total-repayment-fee">
        <div class="slds-text-title--caps account-title">
            <strong>{{ 'EARLY_TOTAL_REPAYMENT_FEES' | translate }}</strong>
        </div>

        <div class="slds-form-element cbs-compound-form__row" [class.slds-has-error]="
            (form.get('earlyTotalRepaymentFeeValue').errors && form.get('earlyTotalRepaymentFeeValue').touched)
            || (form.get('earlyTotalRepaymentFeeValue').invalid && form.get('earlyTotalRepaymentFeeValue').touched)">
            <label class="slds-form-element__label slds-cell-fixed">
                <abbr class="slds-required" title="required">*</abbr>
                {{ 'VALUE' | translate }}
            </label>
            <div class="cbs-compound-form__r">
                <div class="slds-form-element__control">
                    <input type="number"
                           class="slds-input"
                           [onlyNumber]="true"
                           formControlName="earlyTotalRepaymentFeeValue"/>
                    <span class="cbs-hint-icon">%</span>
                </div>
            </div>
        </div>

        <cbs-form-select-control
            [formControlName]="'earlyTotalRepaymentFeeType'"
            [requiredField]="true"
            [selectData]="earlyTotalRepaymentFeeType"
            [hasError]="form.get('earlyTotalRepaymentFeeType').errors && form.get('earlyTotalRepaymentFeeType').touched"
            fieldLabel="{{ 'TYPE' | translate }}"
        ></cbs-form-select-control>
    </div>

    <div class="slds-text-title--caps account-title">
        <strong>{{ 'PROVISIONING' | translate }}</strong>
    </div>

    <div class="slds-form-element">
        <label class="slds-form-element__label">
            {{ 'PROVISION_ON_OUTSTANDING_LOAN_PORTFOLIO' | translate }}
        </label>
        <div class="slds-form-element__control">
            <div class="cbs-provisioning">
                <div class="slds-text-align--center"
                     *ngIf="!provisioning.length">{{ 'PROVISIONING_NO_ADDED' | translate}}</div>
                <ul class="slds-scrollable" *ngIf="provisioning.length">
                    <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                        <thead>
                        <tr class="slds-text-title--caps">
                            <th scope="col" width="25%">
                                <div class="slds-truncate"
                                     title="Number of late days">{{ 'NUMBER_OF_LATE_DAYS' | translate }}</div>
                            </th>
                            <th scope="col" width="25%">
                                <div class="slds-truncate"
                                     title="Rate Principal">{{ 'RATE_PRINCIPAL' | translate }}</div>
                            </th>
                            <th scope="col" width="25%">
                                <div class="slds-truncate" title="Rate Interest">{{ 'RATE_INTEREST' | translate }}</div>
                            </th>
                            <th scope="col" width="25%">
                                <div class="slds-truncate" title="Rate Penalty">{{ 'RATE_PENALTY' | translate }}</div>
                            </th>
                        </tr>

                        </thead>

                        <tbody>
                        <tr *ngFor="let prov of provisioning">
                            <td class="provisioning" data-label="Late days" scope="row">
                                {{ prov?.lateDays}}
                            </td>
                            <td class="provisioning" data-label="Rate Principal" scope="row">
                                {{ prov?.ratePrincipal}}
                            </td>
                            <td class="provisioning" data-label="Rate Interest" scope="row">
                                {{ prov?.rateInterest}}
                            </td>
                            <td class="provisioning" data-label="Rate Penalty" scope="row">
                                {{ prov?.ratePenalty}}
                            </td>
                            <td class="provisioning" data-label="Branch" scope="row">
                                <button class="slds-input--bare" (click)="deleteProvisioning(prov)">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
            <button (click)="openProvisionModal()" class="slds-button slds-button--neutral slds-align--absolute-center"
                    aria-live="assertive">
            <span class="slds-text-not-selected ">
                <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
                {{ 'ADD' | translate }}</span>
            </button>
        </div>
    </div>

    <div class="top-up">
        <div class="slds-text-title--caps account-title">
            <strong>{{ 'TOP_UP' | translate }}</strong>
        </div>

        <div class="slds-form-element">
            <label class="slds-form-element__label cbs-compound-form__checkbox-label">
                {{ 'TOP_UP_ALLOW' | translate }}
            </label>
            <div class="slds-form-element__control">
                <label class="slds-checkbox" for="topUpAllow">
                    <input (click)="showTopUpFields()" type="checkbox" name="topUpAllow"
                           id="topUpAllow"
                           formControlName="topUpAllow"/>
                    <span class="slds-checkbox--faux"></span>
                </label>
            </div>
        </div>

        <div class="showTopUp">
            <cbs-form-input-control
                [requiredField]="showTopUp"
                [disabled]="!showTopUp"
                [inputType]="'number'"
                [fieldLabel]="'TOP_UP_MAX_LIMIT' | translate"
                [formControlName]="'topUpMaxLimit'">
            </cbs-form-input-control>

            <cbs-form-input-control
                [requiredField]="showTopUp"
                [disabled]="!showTopUp"
                [inputType]="'number'"
                [fieldLabel]="'TOP_UP_MAX_OLB' | translate"
                [formControlName]="'topUpMaxOlb'">
            </cbs-form-input-control>
        </div>
    </div>

    <div class="slds-text-title--caps account-title">
        <strong>{{ 'ACCOUNTS' | translate }}</strong>
    </div>

    <div class="slds-form-element" formArrayName="accountList">
        <ng-container
            *ngFor="let account of productAccounts; let ind=index;"
            cbsDynamicField
            [config]="account"
            [group]="form.controls['accountList']['controls'][ind]">
        </ng-container>
    </div>

</form>

<ngl-modal [header]="'PROVISION_ON_OUTSTANDING_LOAN_PORTFOLIO' | translate" [(open)]="isOpenProvision">
    <div body>
        <div class="slds-form-element">

            <label class="slds-form-element__label slds-accordion__section">
                <abbr class="slds-required" title="required">*</abbr>
                {{ 'NUMBER_OF_LATE_DAYS' | translate }}
            </label>
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <input class="slds-input" type="number" [onlyNumber]="true"
                       [(ngModel)]="lateDaysProvision">
            </div>

            <label class="slds-form-element__label slds-accordion__section">
                <abbr class="slds-required" title="required">*</abbr>
                {{ 'RATE_PRINCIPAL' | translate }}
            </label>
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <input class="slds-input" type="number" [onlyNumber]="true"
                       [(ngModel)]="ratePortfolioProvision">
            </div>
            <label class="slds-form-element__label slds-accordion__section">
                <abbr class="slds-required" title="required">*</abbr>
                {{ 'RATE_INTEREST' | translate }}
            </label>
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <input class="slds-input" type="number" [onlyNumber]="true"
                       [(ngModel)]="rateInterestProvision">
            </div>
            <label class="slds-form-element__label slds-accordion__section">
                <abbr class="slds-required" title="required">*</abbr>
                {{ 'RATE_PENALTY' | translate }}
            </label>
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <input class="slds-input" type="number" [onlyNumber]="true"
                       [(ngModel)]="ratePenaltyProvision">
            </div>
        </div>

    </div>
    <ng-template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="cancelModal()">{{ 'CANCEL' | translate }}
        </button>
        <button class="slds-button slds-button--success" (click)="addProvisioning()">{{ 'ADD' | translate }}
        </button>
    </ng-template>
</ngl-modal>

