<div class="slds-grid slds-grid--align-center">
    <div class="slds-container--medium">
        <div class="slds-align--absolute-center slds-text-title--caps">
            <strong>{{ 'CURRENT_TIME_FORMAT' | translate }}</strong>
        </div>
        <div class="slds-form-element slds-accordion__section">
            <div class="slds-form-element__control slds-app-launcher__header">
                            <span class="slds-form-element__static">
                                {{ currentTimeFormat }}
                            </span>
            </div>
        </div>

        <div class="slds-align--absolute-center slds-text-title--caps">
            <strong>{{ 'SELECTED_TIME_FORMAT' | translate }}</strong>
        </div>
        <div class="slds-form-element slds-accordion__section">
            <div class="slds-form-element__control slds-app-launcher__header">
                            <span class="slds-form-element__static">
                                {{ selectedTimeFormat }}
                            </span>
            </div>
        </div>

        <div class="slds-align--absolute-center slds-text-title--caps">
            <strong>{{ 'REGIONAL_TIME_FORMATS' | translate }}</strong>
        </div>
        <form novalidate [formGroup]="timeFormatSettingForm">
            <div *ngFor="let format of timeFormats; let i = index;"
                 class="slds-form-element slds-accordion__section">
                <div class="slds-form-element__control"
                     (click)="selectedFormatValue(format.value)">
                                <span class="slds-form-element__static">
                                    {{ {value: currentTime, format: format['value']} | cbsSettingDateFormat }}
                                </span>
                    <svg *ngIf="selectedFormat !== format['value']"
                         class="icon slds-avatar--x-small slds-button--small slds-button__icon--hint slds-float--right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#record"></use>
                    </svg>
                    <svg *ngIf="selectedFormat === format['value']"
                         class="slds-avatar--x-small slds-button--small slds-button__icon icon slds-float--right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                    </svg>
                </div>
            </div>
        </form>
    </div>
</div>
