<cbs-header>
    <div class="cbs-profile__header">
        <div class="cbs-profile__headings">
            <nav role="navigation" aria-label="Breadcrumbs" class="cbs-breadcrumbs">
                <ol class="slds-breadcrumb slds-list--horizontal">
                    <li class="slds-breadcrumb__item slds-text-title--caps">
                        <a routerLink="/profiles">{{ 'PROFILES' | translate }}</a></li>
                    <li class="slds-breadcrumb__item slds-text-title--caps">
                        <a [routerLink]="'/profiles/' + profileType + '/' + profileId + 'info'">{{ ( profile |
                            async )?.name }}</a>
                    </li>
                    <li [routerLink]="'/profiles/' + profileType + '/' + profileId + 'credit-line-list'"
                        class="slds-breadcrumb__item slds-text-title--caps">
                        <a href="javascript:void(0);">{{ 'CREDIT_LINES' | translate }}</a>
                    </li>
                    <li class="slds-breadcrumb__item slds-text-title--caps">
                        <a href="javascript:void(0);">{{ 'INFO' | translate }}</a>
                    </li>
                </ol>
            </nav>
            <div class="slds-grid slds-grid--vertical-align-center">
                <div class="slds-text-heading--large slds-m-right--medium">{{ ( profile | async )?.name }}</div>
                <div scope="row">
                    <ngl-badge type="success"
                               *ngIf="(profile | async)?.status === 'LIVE'">{{'LIVE' | translate}}</ngl-badge>
                    <ngl-badge type="info"
                               *ngIf="(profile | async)?.status === 'PENDING'">{{'PENDING' | translate}}</ngl-badge>
                </div>
            </div>
        </div>

        <div cbs-page-header-layout="right">
            <div class="slds-grid slds-grid--vertical-align-center">
                <div class="cbs-profile__avatar" *ngIf="(profile | async)?.attachments?.length">
                    <div class="cbs-profile__avatar-item" *ngFor="let attachment of (profile | async)?.attachments">
                        <span class="slds-avatar slds-avatar--circle slds-avatar--large"
                              *ngIf="attachment?.pinned"
                              (click)="openAttachment(attachment)">
                            <span>
                                <img [src]="url + attachment?.id" [attr.alt]="attachment?.originalFilename"
                                     [attr.title]="attachment?.originalFilename"
                                     *ngIf="testIfImage(attachment?.contentType)"/>
                                <span class="cbs-profile__avatar__file">
                                    <cbs-doctype-icon *ngIf="!testIfImage(attachment?.contentType)"
                                                      [fileType]="getFileExtension(attachment?.originalFilename)"
                                                      [fileName]="attachment?.originalFilename"></cbs-doctype-icon>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <button (click)="goToUpdateCreditLine()"
                        class="slds-button slds-button--brand" aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                            </svg>
                            {{ 'EDIT' | translate }}
                        </span>
                </button>
            </div>
        </div>
    </div>
</cbs-header>

<main class="cbs-main cbs-main--pt-lg">
    <div class="cbs-profile-wrap">
        <div class="cbs-profile__left">
            <cbs-sidebar-nav [navElements]="navElements"></cbs-sidebar-nav>
        </div>
        <div class="cbs-profile__right" id="scrollable-section">
            <cbs-form-layout *ngIf="creditLineState?.loaded">
                <div class="slds-text-title--caps slds-m-bottom--medium">
                    <strong>{{ 'DETAILS' | translate }}</strong>
                </div>

                <div class="slds-form-element">
                    <label class="slds-form-element__label">
                        {{ 'NAME' | translate }}
                    </label>
                    <div class="slds-form-element__control">
                        <span class="slds-form-element__static">{{ creditLineState?.creditLine?.name }}</span>
                    </div>
                </div>

                <cbs-form-readonly-control
                    fieldLabel="{{ 'START_DATE' | translate }}"
                    [value]="creditLineState?.creditLine?.startDate | cbsDateFormat"></cbs-form-readonly-control>

                <cbs-form-readonly-control
                    fieldLabel="{{ 'LAST_DISBURSEMENT_DATE' | translate }}"
                    [value]="creditLineState?.creditLine?.lastDisbursementDate | cbsDateFormat"></cbs-form-readonly-control>

                <cbs-form-readonly-control
                    fieldLabel="{{ 'MATURITY_DATE' | translate }}"
                    [value]="creditLineState?.creditLine?.maturityDate | cbsDateFormat"></cbs-form-readonly-control>

                <cbs-form-readonly-control
                    fieldLabel="{{ 'COMMITTED_AMOUNT' | translate }}"
                    [value]="creditLineState?.creditLine?.committedAmount | cbsNumberFormat"></cbs-form-readonly-control>

                <div class="slds-form-element cbs-compound-form__row">
                    <label class="slds-form-element__label">
                        {{ 'DISBURSEMENT_AMOUNT_ALLOWED' | translate }}
                    </label>
                    <div class="cbs-compound-form__r">
                        <div class="cbs-compound-form__1-of-2">
                            <label class="cbs-compound-form__label">
                                {{ 'MINVALUE' | translate }}
                            </label>
                            <div class="slds-form-element__control">
                                <span
                                    class="slds-form-element__static">{{ creditLineState?.creditLine?.disbursementAmountMin | cbsNumberFormat }}</span>
                            </div>
                        </div>
                        <div class="cbs-compound-form__1-of-2">
                            <label class="cbs-compound-form__label">
                                {{ 'MAXVALUE' | translate }}
                            </label>
                            <div class="slds-form-element__control">
                                <span
                                    class="slds-form-element__static">{{ creditLineState?.creditLine?.disbursementAmountMax | cbsNumberFormat }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <cbs-form-readonly-control
                    fieldLabel="{{ 'LOAN_PRODUCT' | translate }}"
                    [value]="creditLineState?.creditLine?.loanProduct?.name"></cbs-form-readonly-control>

                <div class="slds-form-element cbs-compound-form__row">
                    <label class="slds-form-element__label">
                        {{ 'INTEREST_RATE' | translate }}
                    </label>
                    <div class="cbs-compound-form__r">
                        <div class="cbs-compound-form__1-of-2">
                            <label class="cbs-compound-form__label">
                                {{ 'MINVALUE' | translate }}
                            </label>
                            <div class="slds-form-element__control">
                                <span
                                    class="slds-form-element__static">{{ creditLineState?.creditLine?.interestRateMin }}</span>
                                <span class="cbs-hint-icon">%</span>
                            </div>
                        </div>
                        <div class="cbs-compound-form__1-of-2">
                            <label class="cbs-compound-form__label">
                                {{ 'MAXVALUE' | translate }}
                            </label>
                            <div class="slds-form-element__control">
                                <span
                                    class="slds-form-element__static">{{ creditLineState?.creditLine?.interestRateMax }}</span>
                                <span class="cbs-hint-icon">%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slds-form-element">
                    <cbs-penalties-selected [displayButton]="false"
                                            [selectedPenalties]="creditLineState?.creditLine?.penalties"
                                            [label]="'NONE'"></cbs-penalties-selected>
                </div>

                <cbs-form-readonly-control
                    fieldLabel="{{ 'STRUCTURING_FEES' | translate }}"
                    [value]="creditLineState?.creditLine?.structuringFees"></cbs-form-readonly-control>

                <cbs-form-readonly-control
                    fieldLabel="{{ 'ENTRY_FEES' | translate }}"
                    [value]="creditLineState?.creditLine?.entryFees"></cbs-form-readonly-control>

                <div class="early-partial-repayment-fee">
                    <div class="slds-text-title--caps account-title">
                        <strong>{{ 'EARLY_PARTIAL_REPAYMENT_FEES' | translate }}</strong>
                    </div>

                    <div class="slds-form-element cbs-compound-form__row">
                        <label class="slds-form-element__label slds-cell-fixed">
                            {{ 'VALUE' | translate }}
                        </label>
                        <div class="cbs-compound-form__r">
                            <div class="slds-form-element__control">
                                <span
                                    class="slds-form-element__static slds-align-middle">{{ creditLineState?.creditLine?.earlyPartialRepaymentFeeValue }}</span>
                                <span class="cbs-hint-icon">%</span>
                            </div>
                        </div>
                    </div>

                    <div class="slds-form-element">
                        <label class="slds-form-element__label slds-cell-fixed">
                            {{ 'TYPE' | translate }}
                        </label>
                        <div class="slds-form-element__control">
                        <span
                            class="slds-form-element__static">{{ creditLineState?.creditLine?.earlyPartialRepaymentFeeType | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="early-total-repayment-fee">
                    <div class="slds-text-title--caps account-title">
                        <strong>{{ 'EARLY_TOTAL_REPAYMENT_FEES' | translate }}</strong>
                    </div>

                    <div class="slds-form-element cbs-compound-form__row">
                        <label class="slds-form-element__label slds-cell-fixed">
                            {{ 'VALUE' | translate }}
                        </label>
                        <div class="cbs-compound-form__r">
                            <div class="slds-form-element__control">
                                <span
                                    class="slds-form-element__static slds-align-middle">{{ creditLineState?.creditLine?.earlyTotalRepaymentFeeValue }}</span>
                                <span class="cbs-hint-icon">%</span>
                            </div>
                        </div>
                    </div>

                    <div class="slds-form-element">
                        <label class="slds-form-element__label slds-cell-fixed">
                            {{ 'TYPE' | translate }}
                        </label>
                        <div class="slds-form-element__control">
                            <span
                                class="slds-form-element__static">{{ creditLineState?.creditLine?.earlyTotalRepaymentFeeType | translate }}</span>
                        </div>
                    </div>
                </div>

            </cbs-form-layout>
        </div>
    </div>
</main>

<!--<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>-->
