<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true"
                               headingTitle="{{ 'PASSWORD_SETTINGS_EDIT' | translate }}"
                               [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>

        <div cbs-page-header-layout="right">
            <div class="slds-grid slds-grid--align-end">
                <a [routerLink]="'/configuration/system-setting/containers/password-setting/password-settings/password'"
                   class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                    <span class="slds-text-not-selected">
                        <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        {{ 'CANCEL' | translate }}</span>
                </a>
                <button class="slds-button slds-button--success slds-not-selected" aria-live="assertive"
                        (click)="submitForm(passwordSettingForm)"
                        [disabled]="passwordSettingForm.invalid || !formChanged">
                    <span class="slds-text-not-selected">
                        <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                        <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                        </svg>
                        {{ 'SAVE' | translate }}</span>
                </button>
            </div>
        </div>
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<main class="cbs-main cbs-main--pt-lg">
    <div class="cbs-system-setting-wrap">
        <div class="cbs-system-setting__right">
            <div class="slds-grid slds-grid--align-center">
                <div class="slds-container--medium">
                    <div *ngIf="settingsData" class="cbs-pull-negative">
                        <div class="slds-form--horizontal">
                            <form novalidate [formGroup]="passwordSettingForm"
                                  (submit)="submitForm(passwordSettingForm)">
                                <div
                                    *ngFor="let section of passwordSettingForm.controls.fieldSections.controls; let i=index;"
                                    class="slds-p-top--medium slds-p-bottom--large"
                                    [attr.id]="'section_' + settingsFieldSections[i].id">
                                    <div class="slds-m-bottom--large slds-text-heading--small">
                                        {{ settingsFieldSections[i].caption | translate }}
                                    </div>
                                    <ng-container
                                        *ngFor="let field of settingsFieldSections[i].values; let ind=index;"
                                        cbsDynamicField
                                        [config]="field"
                                        [group]="section.controls[ind]">
                                    </ng-container>
                                </div>
                            </form>
                        </div>
                    </div>

                    <cbs-loading-indicator [isFixed]="true"
                                           [showLoader]="isLoading || updateState?.loading"></cbs-loading-indicator>

                </div>
            </div>
        </div>
    </div>
</main>

<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>
