<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ 'PROFILES' | translate }}" [svgData]="svgData">
            </cbs-heading-block>
        </div>

        <div cbs-page-header-layout="center">
            <cbs-search-input
                [searchQuery]="searchQuery"
                (onClear)="clearSearch()"
                (onSearch)="search($event)"
                placeholder="{{ 'SEARCH' | translate }}"></cbs-search-input>
        </div>

        <div cbs-page-header-layout="right">
            <span nglDropdown [(open)]="open">
                <button *cbsVisibleByPermission="{
                group: 'MAKER_CHECKER',
                permissions: ['MAKER_FOR_PEOPLE', 'MAKER_FOR_COMPANY', 'MAKER_FOR_GROUP'] }"
                        class="slds-button slds-button--neutral" nglDropdownTrigger>
                    <span class="slds-truncate">
                        <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                            <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                        </svg>
                        {{ 'CREATE' | translate }}
                    </span>
                    <ngl-icon icon="down" type="default" size="x-small"></ngl-icon>
                </button>
                <div class="slds-dropdown cbs-dropdown cbs-dropdown--full-width">
                    <ul class="dropdown__list" role="menu">
                        <li class="slds-dropdown__item">
                            <a routerLink="/profiles/people/create" role="menuitem" nglDropdownItem>
                                <svg aria-hidden="true"
                                     class="slds-align-middle slds-button--icon slds-button--icon-xx-small slds-button__icon--left slds-button__icon--stateful">
                                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#user"></use>
                                </svg>
                                {{ 'PROFILE_PERSON' | translate }}
                            </a>
                        </li>
                        <li class="slds-dropdown__item">
                            <a routerLink="/profiles/companies/create" role="menuitem" nglDropdownItem>
                                <svg aria-hidden="true"
                                     class="slds-align-middle slds-button--icon slds-button--icon-xx-small slds-button__icon--left slds-button__icon--stateful">
                                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#company"></use>
                                </svg>
                                {{ (currentInstance === 'rwanda' ? 'COMPANY_GROUP' : 'PROFILE_COMPANY') | translate }}
                            </a>
                        </li>
                        <li *ngIf="currentInstance != 'rwanda'" class="slds-dropdown__item">
                            <a routerLink="/profiles/groups/create" role="menuitem" nglDropdownItem>
                                <svg aria-hidden="true"
                                     class="slds-align-middle slds-button--icon slds-button--icon-xx-small slds-button__icon--left slds-button__icon--stateful">
                                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#groups"></use>
                                </svg>
                                {{ 'PROFILE_GROUP' | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->


<main class="cbs-main cbs-main--pt-sm">

    <table class="slds-table slds-table--bordered slds-table--cell-buffer cbs-profiles">
        <thead>
        <tr class="slds-text-title--caps">
            <th scope="col">
                <div class="slds-truncate" title="Full Name">{{ 'FULLNAME' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Profile Type">{{ 'PROFILE_TYPE' | translate }}</div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Maker/Checker Status">{{ 'MAKER_CHECKER_STATUS' | translate}}
                </div>
            </th>
            <th scope="col">
                <div class="slds-truncate" title="Branch">{{ 'BRANCH' | translate}}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let profile of (profilesData | async)?.profiles; let i = index;" (click)="goToProfile(profile)">
            <td scope="row">
                <div class="slds-truncate" title="">
                        <span class="slds-icon_container slds-icon_container--circle slds-icon-action-user"
                              title="name">
                            <svg *ngIf="profile?.type === 'PERSON'" aria-hidden="true"
                                 class="slds-icon slds-icon--x-small">
                                <use xlink:href="assets/icons/action-sprite/svg/symbols.svg#user"></use>
                            </svg>
                            <svg *ngIf="profile?.type === 'GROUP'" aria-hidden="true"
                                 class="slds-icon slds-icon--x-small">
                                <use xlink:href="assets/icons/action-sprite/svg/symbols.svg#new_group"></use>
                            </svg>
                            <svg *ngIf="profile?.type === 'COMPANY'" aria-hidden="true"
                                 class="slds-icon slds-icon--x-small">
                                <use xlink:href="assets/icons/action-sprite/svg/symbols.svg#new_person_account"></use>
                            </svg>
                            <span class="slds-assistive-text">{{profile?.name}}</span>
                        </span>
                    <span>{{profile?.name}}</span>
                </div>
            </td>
            <td scope="row">
                <span class="slds-badge"
                      [ngClass]="{'slds-badge--orange': (profile?.type === 'PERSON')
                      , 'slds-badge--blue': (profile?.type === 'COMPANY')
                      , 'slds-badge--grey': (profile?.type === 'GROUP')}">
                                {{ profile?.type | translate }}
                </span>
            </td>
            <td scope="row">
                <ngl-badge type="success" *ngIf="profile?.status === 'LIVE'">{{'LIVE' | translate}}</ngl-badge>
                <ngl-badge type="info" *ngIf="profile?.status === 'PENDING'">{{'PENDING' | translate}}</ngl-badge>
            </td>
            <td data-label="Branch">
                <div class="slds-truncate" title="branch">{{ profile?.branchName | translate }}</div>
            </td>
        </tr>
        </tbody>
    </table>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="(profilesData | async)?.loading"></cbs-loading-indicator>

    <div class="slds-grid slds-grid--align-center"
         *ngIf="(profilesData | async)?.totalElements > (profilesData | async)?.size">
        <ngl-pagination
            class="cbs-pagination"
            *ngIf="(profilesData | async)?.loaded"
            [(page)]="queryObject.page"
            [total]="(profilesData | async)?.totalElements"
            limit="5"
            [perPage]="(profilesData | async)?.size"
            [previousText]="'PREVIOUS' | translate"
            [nextText]="'NEXT' | translate"
            boundaryNumbers="1"
            (pageChange)="gotoPage($event)"
            #pagination></ngl-pagination>
    </div>

</main>
<!-- ./cbs-main -->

