<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ 'SETTINGS' | translate }}" [svgData]="svgData">
            </cbs-heading-block>
        </div>
        <!--/cbs-page-header-layout = left-->
        <div cbs-page-header-layout="center">
            <cbs-search-input
                [searchQuery]="searchQuery"
                (onClear)="searchQuery = ''"
                (onSearch)="searchQuery = $event"
                placeholder="{{ 'SEARCH' | translate }}"></cbs-search-input>
        </div>
        <!-- /cbs-page-header-layout = center -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<main class="cbs-main cbs-main--pt-sm">
    <div class="slds-container--fluid">
        <div class="slds-grid slds-wrap slds-p-top--large" cbsMatchHeight="cbs-config-item">
            <div class="slds-size--1-of-4 slds-p-horizontal_small slds-m-bottom--large"
                 *ngFor="let item of list | cbsFilter : searchQuery | sort">
                <a [routerLink]="item.link" class="cbs-config-item slds-text-align--center">
                    <cbs-icon [iconConfig]="item?.icon" [classStyle]="'slds-m-bottom--small'"></cbs-icon>
                    <span class="slds-text-heading--small slds-truncate">{{ item.name | translate }}</span>
                    <span class="slds-text-color--weak">{{ item?.description | translate }}</span>
                </a>
            </div>
        </div>
    </div>
</main>
