<cbs-header>
    <cbs-page-header [isTwoColumn]="true">
        <div cbs-page-header-layout="left">
            <cbs-heading-block headingTitle="{{ borrowing?.id ? borrowing?.code : '' }}"
                               [svgData]="svgData"
                               [badgeLabel]="borrowingStatus === 'IN_PROGRESS' ? 'IN PROGRESS' : borrowingStatus"
                               [badgeTheme]="(borrowingStatus | statusBadge)">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="right">
            <div class="slds-grid slds-grid_align-end slds-grid_vertical-align-start">
                <div class="slds-m-left--x-small" *ngIf="showRollback">
                    <button class="slds-button slds-button--neutral" (click)="rollBack()">Rollback
                    </button>
                </div>

                <ng-container *ngIf="borrowingStatus === 'PENDING'">
                    <a [routerLink]="'/borrowings/'+ borrowing?.id + '/edit' "
                       class="slds-button slds-button--brand"
                       aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                            </svg>{{ 'EDIT' | translate }}
                        </span>
                    </a>

                    <button (click)="openModal()" class="slds-button slds-button--success" aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                                <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>{{ 'DISBURSE' | translate }}
                        </span>
                    </button>
                </ng-container>

                <div *ngIf="filterEvents" class="filter-events"
                     style="text-align: left; padding-left: 10px; margin-top: -5px;">
                    <span class="slds-checkbox">
                        <input type="checkbox" id="checkbox-deleted" (click)="showDeletedEvents()"/>
                        <label class="slds-checkbox__label" for="checkbox-deleted">
                            <span class="slds-checkbox--faux"></span>
                            <span class="slds-form-element__label">Show deleted</span>
                        </label>
                    </span>
                    <br>
                    <span class="slds-checkbox">
                        <input type="checkbox" id="checkbox-system" (click)="showSystemEvents()"/>
                        <label class="slds-checkbox__label" for="checkbox-system">
                            <span class="slds-checkbox--faux"></span>
                            <span class="slds-form-element__label">Show system</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<main class="cbs-main cbs-main--pt-sm">
    <cbs-loan-layout [sidebar]="true" [sidePanel]="false">
        <cbs-icon-nav cbs-loan-layout="sidebar" [navConfig]="borrowingNavConfig"></cbs-icon-nav>
        <div cbs-loan-layout="right">
            <cbs-confirm-popup [confirmText]="'Are you sure you want to disburse?'" [opened]="opened"
                               (openedChange)="closeModal()"
                               (onSubmitClick)="disburse()"
                               [leftButtonLabel]="'CANCEL' | translate"
                               [rightButtonLabel]="'CONFIRM' | translate"
                               [popupLabel]="'CONFIRMATION' | translate">
            </cbs-confirm-popup>
            <router-outlet></router-outlet>
        </div>
    </cbs-loan-layout>
</main>
<!-- ./cbs-main -->
<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>
