:host ::ng-deep {
  .cbs-profile {
    &__left {
      padding: 1rem 0;
      position: relative;
      flex: 0 1 auto;
      height: 100%;
      overflow: auto;
      width: 200px;
      background: #fff;
    }
    &__right {
      position: relative;
      flex: 1 0 auto;
      height: 100%;
      overflow: auto;
      border-left: 1px solid rgb(216, 221, 230);
      width: 80%;

    }
    &__header {
      height: 66px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 1rem 1.5rem;
      background: rgb(244, 246, 249);
    }
  }
  .cbs-description-block {
    max-width: 200px;
  }

  .cbs-scrollable-table {
    padding-top: 36px;
  }

  .cbs-fixed-header {
    position: absolute;
    min-width: 100%;
    z-index: 8;
  }

  .ui-datatable-thead {
    display: none;
  }

  .cbs-body {
    overflow-x: auto;
    position: relative;
    overflow-y: hidden;
  }

  .slds-table {
    table-layout: fixed;
    tr {
      th, td {
        text-align: left;
        min-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-child {
          width: 15rem;
          text-align: left;
          min-width: 100px;
        }

        &:nth-child(2) {
          width: 8rem;
          text-align: right;
        }
      }
    }
  }

  .cbs-pagination {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cbs-controls-container {
    display: flex;
  }
  .filter {
    background-color: #32c24d;
    border: 1px solid #32c24d;
    color: white;
    margin-left: 5px;
  }
  .cbs-long-dash {
    display: block;
    margin-right: 8px;
    margin-top: 5px;
  }
  .slds-col_padded-left{
    margin-left: 5px;
    width: 400px;
  }
  .cbs-row{
    display: inline;
  }

  .accounts {
    display: flex;
    justify-content: space-between;

    .account {
      width: 46%;
    }
  }
}

