<div class="slds-context-bar">
    <nav class="slds-context-bar__secondary cbs-main-nav" role="navigation">
        <ul class="slds-grid">
            <ng-container *ngFor="let item of navElements">
                <li class="slds-context-bar__item"
                    *cbsVisibleByPermission="{ group: item }"
                    routerLinkActive="slds-is-active"
                    [ngClass]="{'slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right' : item?.hasChildren}">
                    <a routerLink="{{item?.url}}"
                       *ngIf="!item?.hasChildren && !item?.children?.length; else hasChildrenType"
                       class="slds-context-bar__label-action" [attr.title]="item?.name">
                        <span class="slds-truncate">{{ item?.name | translate }}</span>
                    </a>

                    <ng-template #hasChildrenType>
                        <a href="javascript:void(0);"
                           class="slds-context-bar__label-action" [attr.title]="item?.name">
                            <span class="slds-truncate">{{ item?.name | translate }}</span>
                        </a>
                        <div
                            class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
                            <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                                    aria-haspopup="true" title="Open Accounting">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>
                                <span class="slds-assistive-text">Open Accounting</span>
                            </button>
                        </div>
                        <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
                            <ul class="slds-dropdown__list" role="menu">
                                <ng-container *ngFor="let child of item?.children">
                                    <li class="slds-dropdown__item slds-context-bar__item_divider-right"
                                        *cbsVisibleByPermission="{ group: child}"
                                        role="presentation">
                                        <a routerLink="{{ child?.url ? child?.url : 'javascript:void(0);'}}"
                                           role="menuitem"
                                           tabindex="-1">
                                            <span class="slds-truncate" [attr.title]="child?.name">{{ child?.name  | translate }}</span>
                                        </a>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </ng-template>
                </li>
            </ng-container>

        </ul>
        <div class="slds-grid slds-grid--vertical-align-center">
            <ng-content></ng-content>
        </div>
    </nav>
</div>
