<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block headingTitle="{{ 'DETAILS' | translate }}" [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="right">
            <button class="slds-button slds-button--neutral" aria-live="assertive" (click)="goToViewInfo()">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>{{ 'CANCEL' | translate }}</span>
            </button>
            <button class="slds-button slds-button--success" aria-live="assertive"
                    (click)="submitForm()"
                    [disabled]="transactionTemplatesForm?.form.invalid || !transactionTemplatesForm?.formChanged">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>{{ 'SAVE' | translate }}</span>
            </button>
        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>

<main class="cbs-main cbs-main--pt-sm">
    <cbs-form-layout>
        <cbs-transaction-templates-form></cbs-transaction-templates-form>
    </cbs-form-layout>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="transactionTemplatesForm?.isLoading"></cbs-loading-indicator>
</main>
