<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block headingTitle="{{ loan?.id ? this.loan['code'] : '' }}"
                               [svgData]="svgData"
                               [badgeLabel]="loanStatus | translate"
                               [badgeTheme]="(loanStatus | statusBadge)">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumb"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="right">
            <cbs-loan-info-entity></cbs-loan-info-entity>
            <span class="slds-box--x-small" *cbsVisibleByPermission="{ group: 'LOAN_APPLICATIONS', permissions: ['ATTACHMENT'] }">
                <button class="slds-button slds-button--neutral" aria-live="assertive" (click)="openUploadModal()">
                <span class="slds-text-not-selected">
                    <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>
                    {{ 'ADD' | translate }}</span>
            </button>
            </span>

        </div>
        <!-- /cbs-page-header-layout = right -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->

<div class="slds-grid" cbs-loan-layout="right">
    <div class="slds-container--medium">
        <table class="slds-table slds-table--bordered slds-table--cell-buffer"
               *ngIf="loanApplication?.attachments?.length" style="table-layout: fixed;">
            <thead>
            <tr class="slds-text-title--caps">
                <th scope="col" width="20%">
                    <div class="slds-truncate" title="#">{{ 'NAME' | translate }}</div>
                </th>
                <th scope="col" width="15%">
                    <div class="slds-truncate" title="Relationship">{{ 'DATE' | translate }}</div>
                </th>
                <th scope="col" width="15%">
                    <div class="slds-truncate" title="Amount">{{ 'AUTHOR' | translate }}</div>
                </th>
                <th scope="col" width="30%">
                    <div class="slds-truncate" title="Comment">{{ 'COMMENT' | translate }}</div>
                </th>
                <th scope="col" width="10%">
                    <div class="slds-truncate" title="Options">{{ 'OPTIONS' | translate }}</div>
                </th>
            </tr>

            </thead>

            <tbody>
            <tr *ngFor="let attachment of loanApplication?.attachments; let i = index;">
                <td data-label="Label" scope="row">
                    <ul class="slds-list--horizontal slds-has-dividers--right">
                        <li class="" class="slds-media__figure">
                            <cbs-doctype-icon [fileType]="getFileExtension(attachment.originalFilename)"
                                              [fileName]="attachment.originalFilename"></cbs-doctype-icon>
                        </li>
                        <li class="slds-item" style="width: calc(100% - 44px);"><h3 class="slds-truncate"
                                                                                    title="{{attachment?.originalFilename}}">
                            <a
                                [attr.href]="getUrl(attachment?.id)">{{ attachment?.originalFilename }}</a></h3>
                        </li>
                    </ul>
                </td>
                <td data-label="Relationship" scope="row">
                    {{ attachment?.createdAt | cbsDateFormat }}
                </td>
                <td data-label="Amount" scope="row">
                    {{ attachment?.createdBy?.originalFilename }} {{ attachment?.createdBy?.firstName + ' ' +
                    attachment?.createdBy?.lastName }}
                </td>
                <td data-label="Comment" scope="row" class="slds-truncate">
                    {{ attachment?.comment }}
                </td>
                <td>
                    <div class="slds-m-top--xxx-small slds-grid">
                        <button (click)="download(attachment?.id)"
                                class="slds-button slds-button--icon-border" title="Download">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use
                                    xlink:href="assets/icons/utility-sprite/svg/symbols.svg#download"></use>
                            </svg>
                            <span class="slds-assistive-text">{{'DOWNLOAD' | translate}}</span>
                        </button>

                        <button *cbsVisibleByPermission="{ group: 'LOAN_APPLICATIONS', permissions: ['ATTACHMENT'] }"
                                (click)="confirmDelete(attachment)" class="slds-button slds-button--icon-border"
                                title="Delete">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use
                                    xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                            </svg>
                            <span class="slds-assistive-text">{{'DELETE' | translate}}</span>
                        </button>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
        <p *ngIf="loanApplicationState?.loaded && !loanApplication?.attachments?.length" class="slds-text-align--center slds-m-top--large">
            {{ 'NO_DATA' | translate }}
        </p>
    </div>
</div>

<ngl-modal header="{{ 'UPLOAD_NEW_FILE' | translate }}" [(open)]="isOpened">
    <div body>
        <cbs-file-upload
            name="file"
            [url]="url"
            (onUpload)="onUpload($event)"
            (onError)="onError($event)"
            (onClear)="onClear()"
            [hasComments]="true"
            includeToken="true"
            multiple="false"
            accept="*/*"
            chooseLabel="{{ 'CHOOSE_FILE' | translate }}"
            uploadLabel="{{ 'UPLOAD' | translate }}"
            cancelLabel="{{ 'CANCEL' | translate }}"
            dropLabel="{{ 'DROP_LABEL' | translate }}"
            maxFileSize="100000000">
        </cbs-file-upload>
    </div>
</ngl-modal>

<cbs-confirm-popup [opened]="isVisible"
                   (onSubmitClick)="delete()"
                   (openedChange)="closeConfirmPopup()"
                   [leftButtonLabel]="'CANCEL' | translate"
                   [rightButtonLabel]="'CONFIRM' | translate"
                   [popupLabel]="'CONFIRMATION' | translate"
                   [confirmText]="'DELETE_ATTACHMENT_TEXT' | translate">

</cbs-confirm-popup>

<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>
