<!--<div class="cbs-cc-page" *ngIf="(activityList| async)?.loaded && !loanAppState?.loading">-->

    <!--<div class="cbs-cc-activity-list" *ngIf="(activityList | async)?.data?.length">-->
        <!--<span><strong>{{'ACTIVITY_LOG' | translate | uppercase }}</strong></span>-->
        <!--<ul>-->
            <!--<li *ngFor="let log of (activityList | async)?.data; let i = index; trackBy: log?.id">-->
                <!--<cbs-activity-log [logData]="log"></cbs-activity-log>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

<!--</div>-->

<h2>HISTORY</h2>

<!--<cbs-loading-indicator [isFixed]="true" [showLoader]="isLoading"></cbs-loading-indicator>-->
